# Entorno virtual
env/
ENV/
.venv/
venv/

# Archivos de base de datos
*.sqlite3

# Archivos de migraciones innecesarios
**/__pycache__/
**/*.py[cod]
*.pyc

# Archivos de configuración local
*.log
*.pot
*.pyc
*.pyo
*.db
*.DS_Store

# Archivos de Django
/staticfiles/
/media/

# Configuraciones de VSCode (si usas)
.vscode/

# Archivos de sistema
Thumbs.db
ehthumbs.db
